/*
colors : bleu #0065FC, bleu claire #DEEBFF, gris #F2F2F2
fonts : Raileway
IDs : 
classes : 
------------------------------------------------------------------------------
*/

* {
  font-family: "Raleway", sans-serif;
}
body {
  margin: 0;
}
h1 {
  font-size: 1.375em;
}
/*
HEADER
------------------------------------------------------------------------------
*/
header {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo,
#login {
  margin: 0 50px;
}
#logo {
  flex-grow: 1;
}
#login {
  font-weight: bold;
  color: #0065fc;
}

header nav ul li a {
  margin-left: 50px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 0;
}
/* LINKS */
/* a:link - a normal, unvisited link */
/* a:visited - a link the user has visited */
/* a:hover - a link when the user mouses over it */
/* a:active - a link the moment it is clicked */
a,
a:link,
a:visited {
  color: #000000;
  text-decoration: none;
}
a:hover,
a:active {
  color: #0065fc;
  text-decoration: none;
}
/*
MOBILE - Extra small devices (phones, 600px and down)
*/
@media only screen and (max-width: 600px) {
  header {
    margin-top: 25px;
    flex-wrap: wrap;
  }
  nav {
    order: 1;
    flex-basis: 100vw;
    flex-shrink: 0;
  }
  header nav ul li a {
    display: block;
    margin-left: 0;
    width: 50vw;
    padding: 10px 0;
  }
  #menu a,
  #menu a:link,
  #menu a:visited {
    color: #000000;
    text-decoration: none;
    border-bottom: solid #f2f2f2;
  }
  #menu a:hover,
  #menu a:active {
    color: #0065fc;
    text-decoration: none;
    border-bottom: solid #0065fc;
  }
  #logo,
  #login {
    margin: 0 20px;
  }
}
/*
SEARCH
------------------------------------------------------------------------------
*/
#search {
  width: calc(100vw - 100px);
  margin: auto;
}
#search-form {
  height: 50px;
  width: 285px;
  position: relative;
  margin-bottom: 1em;
}
#search-form span.icon-button-left {
  position: absolute;
  left: 0;
  background-color: #f2f2f2;
  border-radius: 25% 0 0 25%;
}
#search-form input {
  position: absolute;
  left: 50px;
  height: 100%;
  width: 235px;
  padding: 15px;
  border: medium solid #f2f2f2;
  font-size: 1.125em;
  color: black;
  font-weight: bold;
}
#search-form button.icon-button-right {
  position: absolute;
  left: 285px;
  border-radius: 0 15px 15px 0;
  background-color: #0065fc;
  color: #ffffff;
  border: none;
  padding: 15px;
  font-size: 1.125em;
  font-weight: bold;
}
.icon {
  height: 50px;
  min-width: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#search-form button .fa-search {
  display: none;
}
/*
MOBILE - Extra small devices (phones, 600px and down)
*/
@media only screen and (max-width: 600px) {
  #search {
    width: calc(100vw - 40px);
    margin: auto;
  }
  #search-form button p {
    display: none;
  }
  #search-form button .fa-search {
    display: inline;
  }
}
/*
FILTERS
------------------------------------------------------------------------------
*/
#filter-title {
  font-size: 1.125em;
  font-weight: bold;
  margin: 10px;
}
button.filters {
  height: 50px;
  border-radius: 50px;
  position: relative;
  padding-left: 60px;
  padding-right: 20px;
  border: 2px solid #f2f2f2;
  background-color: white;
  margin: 1em 0.5em;
  font-size: 1.125em;
  font-weight: bold;
}
button.filters span {
  background-color: #deebff;
  color: #0065fc;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  left: -2px;
}
.span-info {
  height: 25px;
  width: 25px;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  color: #0065fc;
  border-radius: 50%;
  border: thin solid #f2f2f2;
  margin-right: 10px;
  float: left;
}
#info p {
  line-height: 25px;
}
/*
MOBILE - Extra small devices (phones, 600px and down)
*/
@media only screen and (max-width: 600px) {
  #filter-title {
    font-size: 1.125em;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 0;
    display: block;
  }
  button.filters {
    margin: 0.5em 0.25em 0.5em 0;
    font-size: 1em;
    padding-right: 15px;
  }
}
