/*
colors : bleu #0065FC, bleu claire #DEEBFF, gris #F2F2F2
fonts : Raileway
IDs : 
classes : 
------------------------------------------------------------------------------
*/

* {
  font-family: "Raleway", sans-serif;
}

/*
HEADER
------------------------------------------------------------------------------
*/
