/*
colors : bleu #0065FC, bleu claire #DEEBFF, gris #F2F2F2
fonts : Raileway
IDs : 
classes : 
------------------------------------------------------------------------------
*/

* {
  font-family: "Raleway", sans-serif;
}
body {
  margin: 0;
}
h1 {
  font-size: 1.375em;
}
h2 {
  font-size: 1.125em;
}
.bold {
  font-weight: bold;
}
/*
HEADER
------------------------------------------------------------------------------
*/
header {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo,
#login {
  margin: 0 50px;
}
#logo {
  flex-grow: 1;
}
#login {
  font-weight: bold;
  color: #0065fc;
}

header nav ul li a {
  margin-left: 50px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 0;
}
/* LINKS */
/* a:link - a normal, unvisited link */
/* a:visited - a link the user has visited */
/* a:hover - a link when the user mouses over it */
/* a:active - a link the moment it is clicked */
a,
a:link,
a:visited {
  color: #000000;
  text-decoration: none;
}
a:hover,
a:active {
  color: #0065fc;
  text-decoration: none;
}
/*
MOBILE - Extra small devices (phones, 600px and down)
*/
@media only screen and (max-width: 600px) {
  header {
    margin-top: 25px;
    flex-wrap: wrap;
  }
  nav {
    order: 1;
    flex-basis: 100vw;
    flex-shrink: 0;
  }
  header nav ul li a {
    display: block;
    margin-left: 0;
    width: 50vw;
    padding: 10px 0;
  }
  #menu a,
  #menu a:link,
  #menu a:visited {
    color: #000000;
    text-decoration: none;
    border-bottom: solid #f2f2f2;
  }
  #menu a:hover,
  #menu a:active {
    color: #0065fc;
    text-decoration: none;
    border-bottom: solid #0065fc;
  }
  #logo,
  #login {
    margin: 0 20px;
  }
}
/*
SEARCH
------------------------------------------------------------------------------
*/
#search {
  width: calc(100vw - 100px);
  margin: auto;
}
#search-form {
  height: 50px;
  width: 285px;
  position: relative;
  margin-bottom: 1em;
}
#search-form span.icon-button-left {
  position: absolute;
  left: 0;
  background-color: #f2f2f2;
  border-radius: 25% 0 0 25%;
}
#search-form input {
  position: absolute;
  left: 50px;
  height: 100%;
  width: 235px;
  padding: 15px;
  border: medium solid #f2f2f2;
  font-size: 1.125em;
  color: black;
  font-weight: bold;
}
#search-form button.icon-button-right {
  position: absolute;
  left: 285px;
  border-radius: 0 15px 15px 0;
  background-color: #0065fc;
  color: #ffffff;
  border: none;
  padding: 15px;
  font-size: 1.125em;
  font-weight: bold;
}
.icon {
  height: 50px;
  min-width: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#search-form button .fa-search {
  display: none;
}
button.search.icon.icon-button-right::after {
  content: "rechercher";
}
/*
MOBILE - Extra small devices (phones, 600px and down)
*/
@media only screen and (max-width: 600px) {
  #search {
    width: calc(100vw - 40px);
    margin: auto;
  }
  button.search.icon.icon-button-right::after {
    content: "";
  }
  #search-form button .fa-search {
    display: inline;
  }
}
/*
FILTERS
------------------------------------------------------------------------------
*/
#filter-title {
  font-size: 1.125em;
  font-weight: bold;
  margin: 10px;
}
button.filters {
  height: 50px;
  border-radius: 50px;
  position: relative;
  padding-left: 60px;
  padding-right: 20px;
  border: 2px solid #f2f2f2;
  background-color: white;
  margin: 1em 0.5em;
  font-size: 1.125em;
  font-weight: bold;
}
button.filters:hover {
  background-color: #0065fc;
  color: #ffffff;
}

button.filters span {
  background-color: #deebff;
  color: #0065fc;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  left: -2px;
}
.span-info {
  height: 25px;
  width: 25px;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  color: #0065fc;
  border-radius: 50%;
  border: thin solid #f2f2f2;
  margin-right: 10px;
  float: left;
}
#info p {
  line-height: 25px;
}
/*
MOBILE - Extra small devices (phones, 600px and down)
*/
@media only screen and (max-width: 600px) {
  #filter-title {
    font-size: 1.125em;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 0;
    display: block;
  }
  button.filters {
    margin: 0.5em 0.25em 0.5em 0;
    font-size: 1em;
    padding-right: 15px;
  }
}
/*
FOOTER
------------------------------------------------------------------------------
*/
footer {
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 30px 50px;
}
footer section {
  width: 30%;
}
/*
MOBILE - Extra small devices (phones, 600px and down)
*/
@media only screen and (max-width: 600px) {
  footer {
    flex-direction: column;
    padding: 30px;
  }
  footer section {
    width: 100%;
    margin-bottom: 10px;
  }
}
/*
ARTICLES
------------------------------------------------------------------------------
*/

#articles {
  width: calc(100vw - 100px);
  margin: auto;
}
#articles section {
  margin-bottom: 40px;
}
.grid-container {
  display: grid;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
article {
  height: 100%;
  width: 100%;
  padding: 5px;
  background-color: #ffffff;
  border-radius: 25px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
article img {
  object-fit: cover;
}
article h2 {
  font-size: 1em;
  margin: 0;
}
article p {
  font-size: 0.875em;
  margin: 0;
}
article span.fa {
  font-size: 0.75em;
  margin: 0;
}
#most-popular,
#accomodations {
  background-color: #f2f2f2;
  border-radius: 25px;
  padding: 3%;
}
.fa-star {
  color: #f2f2f2;
}
.fa-star.checked {
  color: #0065fc;
}
/* ACCOMODATIONS */

#accomodations {
  width: 59%;
}
#accomodations .grid-container {
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 200px 200px;
  grid-gap: 30px;
}
#accomodations a article img {
  height: 60%;
  width: 100%;
  border-radius: 25px 25px 0 0;
}
#accomodations a article div.text-box {
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 10px;
}
/* MOST POPULAR */

#most-popular {
  width: 26%;
}
.fa-chart-line {
  float: right;
}
#most-popular .grid-container {
  grid-template-columns: 100%;
  grid-template-rows: 145px 145px 145px;
  grid-gap: 30px;
}
#most-popular article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
#most-popular article img {
  width: 40%;
  height: 100%;
  border-radius: 25px 0 0 25px;
}
#most-popular article div.text-box {
  width: 50%;
  padding: 3% 2%;
}
#most-popular article div.rating {
  width: fit-content;
  padding: 0 2%;
}
/* ACTIVITIES */

#activities {
  width: 100%;
}
#activities .flex-container {
  width: 100%;
  height: 450px;
  flex-direction: column;
  align-content: space-between;
}
#activities a {
  width: calc(25% - 35px);
  padding: 0;
}
#activities article img {
  width: 100%;
  height: calc(100% - 55px);
  border-radius: 25px 25px 0 0;
}
#activities article h2 {
  line-height: 50px;
  margin-left: 20px;
}
.height-40 {
  height: 40%;
}
.height-50 {
  height: 50%;
}
.height-100 {
  height: 100%;
}
/*
MOBILE - small devices (phones, 767px and down)
*/
@media only screen and (max-width: 767px) {
  #articles {
    width: 100vw;
    margin: auto;
  }
  #articles section {
    width: calc(100vw - 40px);
    margin: 20px auto;
  }
  #accomodations {
    background-color: #ffffff;
  }
  #articles section#most-popular {
    order: -1;
    padding: 20px;
    border-radius: 0;
  }
  #accomodations .grid-container {
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, 200px);
    grid-gap: 30px;
  }
  #activities a {
    width: 100%;
  }
  #activities .flex-container {
    height: fit-content;
  }
  #activities .flex-container a.activity {
    height: 190px;
    margin: 10px 0;
  }
}
/*
TABLET - medium devices (1023px and down)
*/
@media only screen and (max-width: 1023px) and (min-width: 668px) {
  #accomodations {
    width: 100%;
  }
  #most-popular {
    width: 100%;
  }
  #most-popular .grid-container {
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 145px;
  }
}
